<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Neighbor.ly Dashboard</title>
    <%= stylesheet_link_tag 'neighborly-dashboard-application' %>
  </head>
  <body>
    <%= javascript_include_tag 'neighborly-dashboard-libs' %>
    <%= javascript_include_tag 'neighborly-dashboard-application' %>
    <%= javascript_include_tag 'neighborly-dashboard-templates' %>
  </body>
</html>
